.sign-up {
	display: flex;
	flex-direction: column;
	width: 380px;

	.title {
		margin: 35px 0;
		font-size: 34px;
		letter-spacing: 2px;
	}

	.title2 {
		font-size: 20px;
		font-family: cursive
	}
}